@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal:wght@200&display=swap')
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

$green: rgb(57, 181, 74)
$font: 'Poppins', sans-serif


$googlegreen: #0F9D58
$googleblue: rgb(66,133,244)
$googlered: #DB4437
$googleyellow: #F4B400
// $cursive : 
